#employee-table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 300%;
    background-color: lightseagreen;
  }

  .table-header {
    border: 1px solid black;
    font-weight: bold;
    background-color: lightgrey;
  }
  
  .table-cell {
    border: 1px solid black;
    text-align: center;
  }