<!DOCTYPE html>
<html>
<head>
<title>DCWA Project</title>
</head>
<body style="background-color: lightblue;">
    <div>
        <h1 >Welcome to the home page</h1><br>
        <h2>Timoor Nurzhanov - DCWA Project</h2>
        <div>
            <a href="http://localhost:3000/employees/">Employees (MySQL)</a><br>
            <a href="http://localhost:3000/departments/">Departments</a><br>
            <a href="http://localhost:3000/employeesMDB/">Employees (MongoDB)</a><br>
        </div>
        
        
    </div>


</body>
</html>